.input-text{
    display: inline-block;
    width: 75px;
    height: 30px;
    padding: 5px;
}
.select{
    display: inline-block;
    font-size: 14px;
    width: 25%;
    padding: 0;
    height: 25px;
}

label{
    font-size: 14px!important;
}
.foundation_scheme{
    position: relative;
}
.foundation_scheme .tracks{
    position: absolute;
    background-color: #FAFAFA;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.foundation_scheme input{
    width: 50px;
    height: 25px;
    text-align: center;
}
.pillar .track-h_found{
    top: 92px;
    -webkit-transform: rotate(90deg);
    transform: rotate(-90deg);
    right: 56px;
}
.pillar .track-up{
    left: 198px;
    top: 10px;
}
.pillar .track-surface{
    left: 85px;
    top: 40px;
}
.pillar .track-under{
    left: 255px;
    top: 148px;
}
.pillar .track-deep{
    left: 105px;
    top: 40px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}