.ReactTable.loadsTable *{
    white-space: normal;
}
.ReactTable.loadsTable .rt-thead.-header{
    height: 50px;
}
.ReactTable.loadsTable .rt-thead .rt-th{
    font-size: 14px;
    height: 50px;
}
.ReactTable.loadsTable .table-field{
    border: none;
    background: none;
    width: 100%;
    text-align: center;
}
.contoll-buttons div{
    cursor: pointer;
    display: block;
    width:35px;
    padding: 5px;
}
.contoll-buttons img{
    width:100%;
}
.contoll-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}