.basement-scheme input{
    width: 58px;
    height: 25px;
    text-align: center;
}
.basement-scheme {
    width: 100%;
    height: 100%;
}
.basement-tracks{
    position: absolute;
    text-align: center;
}
.track-1{
    right: 152px;
    top: 25px;
}
.track-2{
    right: 90px;
    top: 132px;
}
.track-2-2{
    right: 95px;
    top: 50px;
}
.track-3{
    left: 30px;
    top: 75px;
}
.track-4{
    top: 166px;
    left: 5px;
}
.track-5{
    bottom: 58px;
    left: 8px;
}
.track-7{
    bottom: 112px;
    right: 95px;
}