.nav-item {
  width: 33%;
  border-radius: 10px 10px 0 0;
  text-align: center;
  background-color: #474F60;
}

.nav-item .active {
  background-color: #2C333E !important;
  color: #fff !important;
  border: none!important;
  border-radius: 10px 10px 0 0;
}
.nav-link {
  color: #fff;
  height: 100%;
}
.nav-link:hover {
  color: #fff;
  border: none;
  border-radius: 10px 10px 0 0;
}
h1 {
  background-color: #2C333E;
  color: #fff;
  font-size: 24px;
  padding: 10px 0 15px 0;
}
.tab-pane {
  background-color: #ECECEC;
}
.btn-primary {
  background-color: #4BA9DF;
  border: none;
}
.btn-primary--choose {
  padding: 2px;
  width: 40px;
  height: 40px;
}
.btn-primary:hover {
  background-color: #4BA9DF;
  border: none;
  box-shadow: none;
}
.btn-secondary {
  line-height: 12px;
  border-radius: 10px;
  background-color: #474F60;
}
.btn-secondary:not(:disabled):not(.disabled).active {
  background-color: #2C333E;
  box-shadow: none;
}
.btn-secondary--underColumn {
  font-size: 13px;
}
th,
td {
  background-color: #fff;
}
.table-main thead th,
.table-main thead td {
  font-size: 10px;
  background-color: #fff;
  vertical-align: middle!important;
  text-align: center!important;
  padding: 2px;
}
.table-main tbody {
  font-size: 12px;
}
.table-main tbody th,
.table-main tbody td {
  background-color: #fff;
  vertical-align: middle!important;
  text-align: center!important;
  padding: 2px;
}
.table-main tbody label {
  font-size: 10px;
}
.table-main tbody input[type="text"] {
  width: 35px;
  height: 20px;
}
.control {
  z-index: 100;
  right: 0;
  top: 0;
}
.icon-wrapper {
  background: none;
}
.btn-group__input {
  width: 55px;
}
.ractangle {
  width: 100%;
  background-color: #fff;
  height: 100%;
}
.block {
  background-color: #fff;
  border-radius: 5px;
}
.block span {
  font-size: 14px;
}
.block__title {
  position: absolute;
  background-color: #fff;
  font-size: 18px!important;
  font-weight: bold;
  border-radius: 5px;
  top: -15px;
  left: 25px;
}
.block__title--build-type {
  top: -15px;
  left: 195px;
}
.input-field {
  width: 45px;
  height: 25px;
}
.build-type__group {
  border: 1px solid #8E9598;
}
.build-type__group-item {
  width: 100%;
}
.build-type__group-item > span {
  color: #3C4350;
  font-size: 16px;
  margin-bottom: 0;
}
.build-type__group-item > label {
  margin: 0;
}
.build-type__label {
  margin: 0;
  font-size: 14px;
  color: #3C4350;
}
.build-type__params select {
  font-size: 14px;
  height: 30px;
  line-height: 22px;
  padding: 0px 0 0px 5px;
  border: 1px solid #3C4350;
  border-radius: 2px;
  color: #474F60;
  background: url(../img/arrow_down.svg) no-repeat;
  background-position: 560px 5px;
  background-size: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.build-type__selects {
  font-size: 14px;
}
.build-type__selects > select {
  width: 110%;
  height: 30px;
  line-height: 22px;
  padding: 0px 0 0px 5px;
  border: 1px solid #3C4350;
  border-radius: 2px;
  color: #474F60;
  background: url(../img/arrow_down.svg) no-repeat;
  background-position: 92px 4.5px;
  background-size: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.build-type__prepare span {
  font-size: 16px;
}
.mesure {
  font-size: 18px!important;
  line-height: 20px;
  color: #8E9598;
}
.selects {
  width: 100px;
  height: 30px;
  line-height: 22px;
  padding: 0px 0 0px 5px;
  border: 1px solid #3C4350;
  border-radius: 2px;
  color: #474F60;
  background: url(../img/arrow_down.svg) no-repeat;
  background-position: 70px 4.5px;
  background-size: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.btn-group__custom {
  height: 25px;
}
.btn-group__custom > label {
  line-height: 10px;
}
.fz-14 {
  font-size: 14px;
}
.fw-bold {
  font-weight: bold;
}
.pointer {
  cursor: pointer!important;
}


@media (max-width: 767px) {
  .col-title {
    display: none;
  }
  .scheme-750 {
    margin: 0!important;
    padding: 0!important;
  }
}
@media (max-width: 992px) {
  .col-title {
    display: none;
  }
}
