.input-text{
    display: inline-block;
    width: 75px;
    height: 30px;
    padding: 5px;
}
.select{
    display: inline-block;
    font-size: 14px;
    width: 25%;
    padding: 0;
    height: 25px;
}

label{
    font-size: 14px!important;
}
.foundation_scheme{
    position: relative;
}
.foundation_scheme .tracks{
    position: absolute;
    background-color: #FAFAFA;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.foundation_scheme input{
    width: 50px;
    height: 25px;
    text-align: center;
}
.stilt .track-h_found{
    top: 90px;
    -webkit-transform: rotate(90deg);
    transform: rotate(-90deg);
    right: 85px;
}
.stilt .track-length{
    top: 245px;
    -webkit-transform: rotate(90deg);
    transform: rotate(-90deg);
    right: 170px;
}
.stilt .track-up{
    left: 250px;
    top: 85px;
}
.stilt .track-surface{
    left: 85px;
    top: 52px;
}
.stilt .track-bc{
    left: 255px;
    top: 160px;
}

.stilt .track-bottom{
    left: 255px;
    bottom: 78px;
}
.stilt .track-deep{
    left: 105px;
    top: 55px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}